@import url(https://fonts.googleapis.com/css?family=Dosis:200,400,500,600);

.compass {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, .85);
  position: relative;
  font-family: 'Dosis';
  color: #555;
  text-shadow: 1px 1px 1px white;

  &:before {
    font-weight: bold;
    position: absolute;
    text-align: center;
    width: 100%;
    content: "N";
    font-size: 14px;
    top: -2px;
  }

  .direction {
    height: 100%;
    width: 100%;
    display: block;
    background: #f2f6f5;
    background: -moz-linear-gradient(top, #f2f6f5 0%, #cbd5d6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f6f5), color-stop(100%, #cbd5d6));
    background: -webkit-linear-gradient(top, #f2f6f5 0%, #cbd5d6 100%);
    background: -o-linear-gradient(top, #f2f6f5 0%, #cbd5d6 100%);
    border-radius: 100%;

    p {
      text-align: center;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 100%;
      line-height: 80px;
      display: block;
      margin-top: -45px;
      font-size: 28px;
      font-weight: bold;

      span {
        display: block;
        line-height: normal;
        margin-top: -24px;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: normal;
      }
    }
  }

  .arrow {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;

    &:after {
      content: "";
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 10px solid red;
      position: absolute;
      top: -6px;
      left: 50%;
      margin-left: -5px;
      z-index: 99;
    }

    &.nne {
      transform: rotate(22.5deg);
    }

    &.ne {
      transform: rotate(45deg);
    }

    &.ene {
      transform: rotate(67.5deg);
    }

    &.e {
      transform: rotate(90deg);
    }

    &.ese {
      transform: rotate(112.5deg);
    }

    &.se {
      transform: rotate(135deg);
    }

    &.sse {
      transform: rotate(157.5deg);
    }

    &.s {
      transform: rotate(180deg);
    }

    &.ssw {
      transform: rotate(202.5deg);
    }

    &.sw {
      transform: rotate(-135deg);
    }

    &.wsw {
      transform: rotate(-114.5deg);
    }

    &.w {
      transform: rotate(-90deg);
    }

    &.wnw {
      transform: rotate(-69.5deg);
    }

    &.nw {
      transform: rotate(-45deg);
    }

    &.nnw {
      transform: rotate(-24.5deg);
    }
  }
}